# Ambientes Virtuais
.venv/
bin/
include/
lib/
share/
pyvenv.cfg

# Variáveis de ambiente (Segurança)
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class

# Pycharm / IDEs
.idea/
.vscode/

# Distribuição
dist/
build/