[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
fastapi = "*"
uvicorn = "*"
requests = "*"
pydantic-settings = "*"
python-multipart = "*"

[dev-packages]
uvicorn = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
